.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.left-box input {
  height: 50px;
  width: 230px;
  border: 8px solid #4F1413;
  border-radius: 12px;
  color: #898989;
  font-size: 20px;
  padding: 5px 15px;
}